#Events{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 5rem auto;
    max-width: 1200px;

    header{
        margin: 3rem auto;
        text-align: center;
        h2{
            margin: 0 auto;
        }
        @media only screen and(max-width:600px){
            margin: 2rem 2rem;
        }
    }

    .eventInfo{
        display: flex;
        max-width: 350px;
        flex-direction: column;
        justify-content: center;
        border: .25px var(--text-grey) solid;
        border-radius: .65rem;
        padding: 1rem;
        a{
            font-family: 'Poppins';
            transition: .1s ease-in ;
            font-size: 1.4rem;
            &:hover{
                color: rgba(60, 255, 60, 0.883);
            }
        }
        
        .date{
            font-family: 'inconsolata';
            font-weight: 400;
            font-size: 1.25rem;
            color: var(--text-grey);
            padding-top: 1rem;
        }
        figure{
            margin: 0rem auto 1rem auto;

            img{
                border-radius: .65rem;
                height: 240px;
                width: 300px;
                object-fit: cover;

                @media only screen and(max-width:600px){
                    height: 240px;
                    width: 300px;
                }
            }
        }
        @media only screen and(max-width:600px){
            margin: 1rem 2rem;
        }
    }

    .event-cards{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 0rem 6rem;
    }
}
